    /* For small devices (up to 576px) */
    @media (max-width: 576px) {

        .photo .wrapper {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
        .photo .box {
          width: 100%;
          margin-bottom: 20px;
        }
        .about {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
        .about .about-image {
          margin-bottom: 20px;
        }
        .deli {
          text-align: center;
        }
        .feedback .donar-feedback {
          margin-top: 20px;
        }
      }
      
      /* For medium devices (576px and up) 
      @media (min-width: 577px) and (max-width: 768px) {
      
        .photo .box {
          width: calc(50% - 20px);
          margin-right: 20px;
        }
        .about .about-text {
          margin-left: 20px;
        }
        .deli {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .deli img {
          width: 50%;
        }
      }
      
      /* For large devices (768px and up)
      @media (min-width: 769px) and (max-width: 992px) {
        .carousel-content {
          padding: 40px;
        }
        .photo .box {
          width: calc(33.3333% - 20px);
          margin-right: 20px;
        }
      }*/
      
      /* For extra large devices (992px and up) 
      @media (min-width: 993px) {
        .carousel-content {
          padding: 50px;
        }
        .photo .box {
          width: calc(25% - 20px);
          margin-right: 20px;
        }
      }*/
      
      .carousel-caption {
        text-align: center;
      }
      
      .carousel-caption p {
        font-size: 23px;
      }
      
      .carousel-item img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto; 
      }
      
      .carousel-control-prev,
      .carousel-control-next {
        width: 5%;
      }
      
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        width: 30px;
        height: 30px;
      }
      
      @media (max-width: 576px) {
        .carousel-caption p {
          font-size: 18px; /* Adjust font size for smaller screens */
        }
      }
      
      @media (min-width: 577px) and (max-width: 768px) {
        .carousel-caption p {
          font-size: 20px; /* Adjust font size for medium screens */
        }
      }
      
      @media (min-width: 769px) and (max-width: 992px) {
        .carousel-control-prev,
        .carousel-control-next {
          width: 8%;
        }
        .carousel-caption p {
          font-size: 21px; /* Adjust font size for large screens */
        }
      }
      
      @media (min-width: 993px) {
        .carousel-control-prev,
        .carousel-control-next {
          width: 4%;
        }
        .carousel-content p {
          font-size: 23px; /* Adjust font size for extra large screens */
        }
      }
      
      
      
      
      .footer {
        background-color: #333;
        color: #fff;
        padding: 50px 0;
      }
      
      .footer-left,
      .footer-center,
      .footer-right {
        text-align: center;
      }
      
      .footer-left p.about {
        font-size: 16px;
      }
      
      .footer-center p,
      .footer-center a {
        font-size: 16px;
        margin-bottom: 10px;
      }
      
      .sociallist {
        margin-top: 20px;
      }
      
      .sociallist .social li {
        display: inline;
        margin-right: 10px;
      }
      
      .footer-right h2 {
        font-size: 28px;
      }
      
      .footer-right p.menu {
        font-size: 16px;
        margin-top: 20px;
      }
      
      .footer-right p.name {
        font-size: 14px;
      }
      
      @media (max-width: 768px) {
        .footer-left,
        .footer-center,
        .footer-right {
          width: 100%;
          text-align: center;
          margin-bottom: 20px;
        }
      
        .footer-left {
          padding-right: 15px;
        }
      
        .footer-right {
          padding-left: 15px;
        }
      }
      
      @media (min-width: 769px) and (max-width: 992px) {
        .footer-left,
        .footer-center,
        .footer-right {
          width: 50%;
          text-align: center;
        }
      }
      
      @media (max-width: 576px) {
        .footer-left p.about {
          font-size: 14px;
        }
      
        .footer-center p,
        .footer-center a {
          font-size: 14px;
        }
      
        .footer-right h2 {
          font-size: 24px;
        }
      
        .footer-right p.menu {
          font-size: 14px;
        }
      
        .footer-right p.name {
          font-size: 12px;
        }
      }








      .content {
        padding: 10px;
      }
    
      .deli .para {
        font-size: 23px;
        text-align: center;
    
    
      }
    
      .deli img {
        width: 100%;
        height: 100%;
      }





      /* #not */
      .deli .para {
        font-size: 30px;
        text-align: center;
      }
      
      .para {
        font-size: 20px;
        text-align: center;
        padding: 20px;
      }